---
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
TabWidth: 8
UseTab: Never
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevel
BreakBeforeBraces: Linux
IndentCaseLabels: false
